$primary: #a00000;

.mng-container {
  width: 80%;
  border: 1px solid black;
  display: flex;
  align-self: center;
  margin: 1em auto;
  justify-content: space-between;
  padding: 1em;
  button {
    cursor: pointer;
    margin: auto 0.5em;
  }
}

.controls {
  display: flex;
  width: 80%;
  border: 1px solid black;
  margin: 1em auto;
  justify-content: space-between;
  button {
    margin: 0.5em;
    cursor: pointer;
  }
}
.btn {
  cursor: pointer;
  font-family: "Monserrat", sans-serif;
  display: inline-flex;
  transition-duration: 0.3s;
  // height: 2em;
  color: #000;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 3px;
  // padding-bottom: 1em 1em 1em 1em;
  padding: 0.5em;
  margin: 0.5em;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}
.edit {
  &:hover {
    background-color: #d1cd00;
    color: #000;
  }
}
