<div class="controls">
    <button routerLink="cinemalist" class="btn">CINEMA LIST</button>
    <button routerLink="addcinema" class="btn">ADD NEW CINEMA</button>
    <button routerLink="addmanager" class="btn">ADD NEW MANAGER</button>
</div>
<div class="mng-container" *ngFor="let manager of managers; let i = index">
    <span>
        {{ manager.firstname }} {{ manager.surname}}
    </span>
    <span>
        <button (click)="onEdit()" class="btn edit">EDIT</button>
        <button (click)="onRemove()" class="btn">REMOVE</button>
    </span>
</div>