.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  // background-color: #aa3322;
  padding: 0.3em;
  justify-items: center;
  text-align: center;
  justify-items: center;
  &:hover {
    background-color: #dcdcdc;
  }
}
