<!-- ovde ide ngFor -->
<div class="item">
  <h3>Projection1</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection2</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection3</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection4</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
<div class="item">
  <h3>Projection5</h3>
  <p>Utorak, 21:00</p>
</div>
