<div class="header-container">
  <img
    [src]="'../../assets/img/logo3.png'"
    alt="cinemaApp"
    class="logo"
    routerLink="/"
  />
  <!-- <input  class="search" type="search" placeholder="What do you want to watch today?"> -->
<nav>
    <ul>
        <li><a routerLink="/reservations" *ngIf="position == 'viewer'">Moje rezervacije</a></li>
        <li><a routerLink="/admin" *ngIf="position == 'admin'">Admin panel</a></li> 
        <li><a routerLink="/manager" *ngIf="position == 'manager'">Manager panel</a></li> 
        <!-- <li><a routerLink="/">Reservations</a></li> --> 
        <!-- <li><a routerLink="/">Reservations</a></li> --> 
    </ul>
</nav>
    <div class="authStuff">
      <button class="button" routerLink="/login" *ngIf="!isAuth">LOGIN</button>
      <button class="button" routerLink="/register" *ngIf="!isAuth">SIGN UP</button>
      <button class="button" (click)="onLogout()" *ngIf="isAuth">LOGOUT</button>
      <a routerLink="/me"><img src="../../assets/img/me.png" alt="Me" class="me" *ngIf="isAuth"></a>
    </div>
</div>
